* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 32px;
}

.query-wrapper {
  padding-top: 16px;
}

.query-field {
  width: 100%;
  padding: 4px 8px;
}

.query-actions-wrapper {
  display: flex;
  padding-top: 8px;
}

.query-button {
  padding: 4px 8px;
  margin-left: auto;
}

.table-wrapper {
  padding-top: 32px;
}

.result-table,
.result-table th,
.result-table td {
  border: 1px solid;
}

.result-table {
  width: 100%;
}

.recommendation-tags {
  display: flex;
}

.recommendation-tags > button {
  background-color: bisque;
  padding: 4px 8px;
}

.recommendation-tags > button:not(:last-child) {
  margin-right: 4px;
}
